/* *, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: url('images/background/stars.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}


.space::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: url('stars.jpg') repeat;
  animation: moveStars 50s linear infinite;
  z-index: -1;
}

@keyframes moveStars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
  
header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
  background: linear-gradient(to bottom, white 88%, black);
}

#links a{
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.Logo {
  display: flex;
  justify-content: center;
  height: 7rem;
  margin: 1rem;
  padding-bottom: 1rem;
  
}

#planets {
  display: grid;
  grid-template-columns: repeat(9, 1fr); 
  gap: 30px; 
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.planet {
  animation: float 5s ease-in-out infinite;
  width: 100%;
  height: auto;
  justify-self: center;

}

.planet:hover {
  animation: none;
  transform: scale(1.2);
}

.planet img {
  display: block;
  max-width: 100%;
  height: auto;
}

#Sun {
  grid-column: 1;
  width: 150px;
}

#Mercury {
  grid-column: 2;
  width: 50px;
}

#Venus {
  grid-column: 3;
  width: 60px;
}

#Earth {
  grid-column: 4;
  width: 70px;
}

#Mars {
  grid-column: 5;
  width: 55px;
}

#Jupiter {
  grid-column: 6;
  width: 120px;
}

#Saturn {
  grid-column: 7;
  width: 110px;
}

#Uranus {
  grid-column: 8;
  width: 90px;
}

#Neptune {
  grid-column: 9;
  width: 85px;
}


#planets div[id$="-info"] {
  display: none; 
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  transform: translate(-50%, -50%);
}


#sun-info {
  top: 60%;
  left: 50%;
}

#mercury-info {
  top: 40%;
  left: 30%;
}

#venus-info {
  top: 35%;
  left: 60%;
}

#earth-info {
  top: 70%;
  left: 50%;
}

#mars-info {
  top: 25%;
  left: 75%;
}

#jupiter-info {
  top: 60%;
  left: 20%;
}

#saturn-info {
  top: 20%;
  left: 15%;
}

#uranus-info {
  top: 80%;
  left: 65%;
}

#neptune-info {
  top: 10%;
  left: 85%;
}


@keyframes float {
  0%, 100% {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(10px);
  }
}



/* glow animation on planets
make stars move in background
 */ */