*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.space {
  position: relative;
 background: url('images/background/stars.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.space::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: url('stars.jpg') repeat;
  animation: moveStars 50s linear infinite;
  z-index: -1;
}

@keyframes moveStars {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50%, -50%);
  }
}
  
